@import '../../assets/sass/main.scss';
.wrapperMob {
  background-image: url(../../assets/img/img-hero-light-mob-1x-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 360px;
  margin: 0 auto;
  min-height: 480px;
  // & header:hover {
  //   background-image: url(../../assets/img/img-hero-dark-desk-1x-min.jpg);
  // }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../assets/img/img-hero-light-mob-2x-min.jpg);
  }
}
.wrapperDesk {
  @include vp(desktop) {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 320px;
    padding-bottom: 247px;
    padding-left: 327px;
    padding-right: 326px;
    background-image: url(../../assets/img/img-hero-light-desk-1x-min.jpg);
    max-width: 1440px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../assets/img/img-hero-light-desk-2x-min.jpg);
    }
  }
}
header:hover + .wrapperDesk,
header:focus + .wrapperDesk {
  background-image: url(../../assets/img/img-hero-dark-desk-1x-min.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../assets/img/img-hero-dark-desk-2x-min.jpg);
  }
}

.text {
  @include font(700, 60px, 3);
  color: var(--main-bg-cl);
}
