@import '../../assets/sass/main.scss';
.smoll {
  @include font(600, 28px, 1.5);
  letter-spacing: 0.95px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big {
  @include font(700, 38px, 1.5);
  letter-spacing: 0.95px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoText {
  color: inherit;
}
