@import '../../assets/sass/main.scss';
.itemTextFooter {
  font-family: 'Abhaya Libre';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--main-text-cl);
  border-bottom: 1px solid var(--additional-border-cl);
  padding-bottom: 12px;
  padding-top: 12px;
  transition: all 250ms linear;
  @include font(700, 16px, 1.19);
  letter-spacing: 1.16364px;
}
.itemTextFooter > div {
  display: flex;
  justify-content: space-between;
}

.itemTextFooter:hover,
.itemTextFooter:focus {
  background-color: var(--additional-border-cl);
}
.textWrapper {
  flex-grow: 2;
}
