@import '../../assets/sass/main.scss';
.itemTextFooter {
  font-family: 'Abhaya Libre';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--main-text-cl);
  border-bottom: 1px solid var(--additional-border-cl);
  transition: all 250ms linear;
  @include font(700, 16px, 1.19);
  letter-spacing: 1.16364px;
  @include vp(desktop) {
    width: 146px;
    border-bottom: none;
    justify-content: flex-start;
    margin-right: 40px;
  }
}
.topWrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 32px;
  padding-right: 32px;
  @include vp(desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.topWrapper:hover,
.topWrapper:focus {
  background-color: var(--additional-border-cl);
  @include vp(desktop) {
    background-color: var(--secondary-bg-cl);
  }
}
.textWrapper {
  flex-grow: 2;
}
