:root {
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #f7f7f7;
  --additional-bg-cl: #333333;
  --menu-bg-cl: #939393;
  --oval-bg-cl: #f2da91;
  --main-text-cl: #000000;
  --placeholder-text-cl: #4a4a4a;
  --main-border-cl: #f3f3f3;
  --additional-border-cl: #e1e0e1;
  --modal-overlay: rgba(43, 43, 43, 0.1);
  --error-cl: red;

  // --body-bg: #e5e5e5;

  // --buttons-text-cl: #ffffff;

  // --error-page-fill: #969696;
  // --secondary-text-cl: #898f9f;

  // --training-bg-cl: #b1b5c2;
  // --chart-plan-cl: #091e3f;

  // --placeholder-text-cl: #a6abb9;
  // --scrollbar-bg-cl: #e0e5eb;

  // --additional-bg-cl: #ffffff;
  // --auth-bg-cl: #f5f7fa;

  // --btn-del-cl: #e34f6f;
  // --btn-del-cl-hover: #faa476;
  // --btn-del-cl-active: #fcde9c;
  // --btn-add-cl: #0b5d37;
  // --btn-add-cl-hover: #6ca589;
  // --btn-add-cl-active: #b3b3bd;
  // --btn-edit-cl: #adb5d3;
  // --btn-edit-cl-hover: #f6e8da;
  // --btn-edit-cl-active: #fef6b5;
  // --btn-cancel-cl: #f6e8da;
  // --btn-cancel-cl-hover: #cfd1e0;
}
